# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# React js
# Boottrap
# Funcanail base component
# reat routing
# .evn file for API url
# Aysnc and await for get data from API
# Map and condtion
# Add component
# Store data ussing API in WP post with meta fileds
# View data ussing API
# DELETE post ussing API