.box-shadow{
    padding: 50px;
    background: #fff;
}
.bg-image{
  width: 100%;
  background-image: url(https://img.freepik.com/free-photo/flat-lay-workstation-with-copy-space-laptop_23-2148430879.jpg);
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
}
.text-red{
  color: red;
}
.table>:not(caption)>*>* {
  padding: 11px 7px;
}